{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Liste Themes{% endblock %}

{% block content %}
{{parent()}}
<div class="container-fluid">           
    <div class="row justify-content-center">            
        <h1 class="text-center text-primary p-4">Liste des Mots</h1>        
    </div>        
    
    <div class="row justify-content-center">            
        <div class="col-8 bg-white p-4 m-0 text-primary">                
            <ul class="list-group">
                {% for voc in vocs %}
                <li class="list-group-item list-group-item-{{cycle(['secondary','light'], loop.index0)}}">{{voc.mot|capitalize}} <a href="#"><span class="material-icons text-dark" title="Modifier le mot">create</span></a> <a href="{{path('liste_vocabulaires',{'supp':voc.id})}}"><span class="material-icons text-dark" title="Supprimer le mot">delete</span></a></li>
                {% endfor %}
            </ul>        
        </div>        
    </div>
</div>
{% endblock %}
{% block javascripts %}{{parent()}}{% endblock %}