{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - liste abonnement{% endblock %}

{% block content %} 
<div class="container-fluid">           
    <div class="row justify-content-center">            
        <h1 class="text-center text-primary p-4">Liste des abonnements</h1>        
    </div>        
    <div class="row justify-content-center">            
    <div class="col-8 bg-white p-4 m-0 text-dark"> 
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">N°</th>
        <th scope="col">Libelle</th>
        <th scope="col">type paiement</th>
        </tr>
    </thead>
    <tbody>
      
        {% for abonnement in abonnement %}
            <tr class="{{ cycle(['table-info', 'table-light'], loop.index0)}}">

                <td>{{abonnement.id}}</td>
                <td>{{abonnement.libelle}}</td>
                <td>{{abonnement.typePaiement}}</td>

            </tr>
        {% endfor %} 
    </tbody>
                                  
    </div>        
</div></div>    
{% endblock %}