{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - liste entreprise{% endblock %}

{% block content %} 
<div class="container-fluid">           
    <div class="row justify-content-center">            
        <h1 class="text-center text-primary p-4">Liste des entreprises</h1>        
    </div>        
    <div class="row justify-content-center">            
    <div class="col-8 bg-white p-4 m-0 text-dark"> 
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">N°</th>
        <th scope="col">Nom</th>
        <th scope="col">Raison sociale</th>
        <th scope="col">Ville</th>
        <th scope="col">Code postal</th>
        <th scope="col">Nom rue</th>
        <th scope="col">N° de rue</th>
        </tr>
    </thead>
    <tbody>
      
        {% for entreprise in entreprise %}
            <tr class="{{ cycle(['table-info', 'table-light'], loop.index0)}}">

                <td>{{entreprise.id}}</td>
                <td>{{entreprise.libelle|capitalize}}</td>
                <td>{{entreprise.raisonSociale|capitalize}}</td>
                <td>{{entreprise.adrVille|capitalize}}</td>
                <td>{{entreprise.adrCp|capitalize}}</td>
                <td>{{entreprise.adrRue|capitalize}}</td>
                <td>{{entreprise.adrNo|capitalize}}</td>

            </tr>
        {% endfor %} 
    </tbody>
                                  
    </div>        
</div></div>    
{% endblock %}