{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - liste categorie{% endblock %}

{% block content %} 
<div class="container-fluid">           
    <div class="row justify-content-center">            
        <h1 class="text-center text-primary p-4">Liste des Categories</h1>        
    </div>        
    <div class="row justify-content-center">            
    <div class="col-8 bg-white p-4 m-0 text-dark"> 
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">N°</th>
        <th scope="col">Libelle</th>
        </tr>
    </thead>
    <tbody>
      
        {% for categorie in categorie %}
            <tr class="{{ cycle(['table-info', 'table-light'], loop.index0)}}">

                <td>{{categorie.id}}</td>
                <td>{{categorie.libelle}}</td>
                <td><a href="{{path('listeCategorie',{'supp':categorie.id})}}"><span class="material-icons text-dark" title="Supprimer le test">delete</span></a></td>

            </tr>
        {% endfor %} 
    </tbody>
                                  
    </div>        
</div></div>    
{% endblock %}