{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - liste utilisateur{% endblock %}

{% block content %} 
<div class="container-fluid">           
    <div class="row justify-content-center">            
        <h1 class="text-center text-primary p-4">Liste des utilisateurs</h1>        
    </div>        
    <div class="row justify-content-center">            
    <div class="col-8 bg-white p-4 m-0 text-dark"> 
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Email</th>
        <th scope="col">Abonnement</th>
        <th scope="col">Entreprise</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
      
        {% for user in user %}
            <tr class="{{ cycle(['table-info', 'table-light'], loop.index0)}}">

                <td>{{user.email|capitalize}}</td>
                {% if user.abonnement is not null %}
                    <td>{{user.abonnement.libelle}}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if user.entreprise is not null %}
                    <td>{{user.entreprise.libelle}}</td>
                {% else %}
                    <td>Aucune</td>
                {% endif %}

            </tr>
        {% endfor %} 
    </tbody>
                                  
    </div>        
</div></div>    
{% endblock %}